{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <h2 class="font-weight-bold">Students' Profiles</h2>
    <p>{{ user.teacher.get_college_display }} - {{ user.teacher.get_branch_display }}</p>

    <form>
    <div class="input-group my-3">
      <input class="form-control py-2" type="search" name="search" placeholder="Search...">
      <span class="input-group-append">
        <button class="btn btn-secondary">
            <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </form>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Standard</th>
                    <th scope="col">PRN</th>
                    <th scope="col">Verified on</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="search-table">
                {% for student in students %}
                    <tr>
                        <td>{{ student.student.full_name }}</td>
                        <td>{{ student.student.email }}</td>
                        <td>{{ student.student.phone }}</td>
                        <td>{{ student.student.get_standard_display }}</td>
                        <td>{{ student.student.prn }}</td>
                        <td>{{ student.student.created|date:"M d, Y" }}</td>
                        <td>
                            <form method="POST" action="{% url 'teachers:student_delete' student.student.pk %}">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-danger px-3 mb-1"><i class="fas fa-trash-alt"></i> Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'pagination.html' with page=students %}

    <script type="text/javascript" src="{% static 'js/keep_params.js' %}"></script>
{% endblock content %}